<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="com.ssm.pojo.Brand">
    <id column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="brand_no" jdbcType="VARCHAR" property="brandNo" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="en_short_name" jdbcType="VARCHAR" property="enShortName" />
    <result column="shortcut_key" jdbcType="VARCHAR" property="shortcutKey" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="is_enabled" jdbcType="TINYINT" property="isEnabled" />
    <result column="category_no" jdbcType="VARCHAR" property="categoryNo" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_updater" jdbcType="BIGINT" property="lastUpdater" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="is_usable" jdbcType="TINYINT" property="isUsable" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    brand_id, brand_no, brand_name, short_name, en_name, en_short_name, shortcut_key, 
    bar_code, is_enabled, category_no, creator, create_time, last_updater, last_update_time, 
    is_usable, tenant_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brand
    where brand_id = #{brandId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brand
    where brand_id = #{brandId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.Brand">
    insert into brand (brand_id, brand_no, brand_name, 
      short_name, en_name, en_short_name, 
      shortcut_key, bar_code, is_enabled, 
      category_no, creator, create_time, 
      last_updater, last_update_time, is_usable, 
      tenant_id)
    values (#{brandId,jdbcType=BIGINT}, #{brandNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, #{enShortName,jdbcType=VARCHAR}, 
      #{shortcutKey,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, #{isEnabled,jdbcType=TINYINT}, 
      #{categoryNo,jdbcType=VARCHAR}, #{creator,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdater,jdbcType=BIGINT}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{isUsable,jdbcType=TINYINT}, 
      #{tenantId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.Brand">
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandNo != null">
        brand_no,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="enShortName != null">
        en_short_name,
      </if>
      <if test="shortcutKey != null">
        shortcut_key,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="isEnabled != null">
        is_enabled,
      </if>
      <if test="categoryNo != null">
        category_no,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdater != null">
        last_updater,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="isUsable != null">
        is_usable,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="brandNo != null">
        #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="enShortName != null">
        #{enShortName,jdbcType=VARCHAR},
      </if>
      <if test="shortcutKey != null">
        #{shortcutKey,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="categoryNo != null">
        #{categoryNo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdater != null">
        #{lastUpdater,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUsable != null">
        #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.Brand">
    update brand
    <set>
      <if test="brandNo != null">
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="enShortName != null">
        en_short_name = #{enShortName,jdbcType=VARCHAR},
      </if>
      <if test="shortcutKey != null">
        shortcut_key = #{shortcutKey,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        is_enabled = #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="categoryNo != null">
        category_no = #{categoryNo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdater != null">
        last_updater = #{lastUpdater,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUsable != null">
        is_usable = #{isUsable,jdbcType=TINYINT},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.Brand">
    update brand
    set brand_no = #{brandNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      en_short_name = #{enShortName,jdbcType=VARCHAR},
      shortcut_key = #{shortcutKey,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      is_enabled = #{isEnabled,jdbcType=TINYINT},
      category_no = #{categoryNo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_updater = #{lastUpdater,jdbcType=BIGINT},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      is_usable = #{isUsable,jdbcType=TINYINT},
      tenant_id = #{tenantId,jdbcType=INTEGER}
    where brand_id = #{brandId,jdbcType=BIGINT}
  </update>
</mapper>